@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <img id="start" src="images/logos/black only logo.png" style="max-width:65px;" />
        <a id="start" href="home">Hello, @context.User.Identity?.Name!</a>
        <a id="center" href="user" class="oi oi-cog" data-toggle="tooltip" data-placement="bottom" title="Settings page"></a>
        <a id="center" href="allEvents" class="oi oi-grid-three-up" data-toggle="tooltip" data-placement="bottom" title="All Events"></a>
        <a id="center" href="home" class="oi oi-home" data-toggle="tooltip" data-placement="bottom" title="Go to Home page"></a>
        <a id="center" href="shopping-cart" class="oi oi-cart" data-toggle="tooltip" data-placement="bottom" title="See Shopping cart"></a>
        <button id="end" class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <img src="images/logos/black only logo.png" style="max-width:65px;" />
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}