.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* change background for pages here */
main {
    flex: 1;
}

/* change background here for sidebar */
.sidebar {
    background-image: linear-gradient(180deg, #305076 0%, rgb(251, 232, 156) 70%);
}


/* and top row bar color here */
.top-row {
    background-color: #305076;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 2.5rem;
        text-decoration: none;
        color: rgb(251, 232, 156);
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .top-row.auth {
        justify-content: center;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 2.5rem !important;
    }
}
