@page
@model TicketHive.Server.Areas.Identity.Pages.Account.LoginModel
@{
}

<div class="card border-dark text-center">
	<h2>Login</h2>
	<form method="post">
		<div class="m-3">
			<label for="input-username">Username: </label>
			<input id="input-username" asp-for="Username" type="text" placeholder="Username" />
		</div>
		<div class="m-3">
			<label for="input-password">Password: </label>
			<input id="input-password" asp-for="Password" type="password" placeholder="Password" />			
		</div>
		<span class="text-danger">
			@if (Model.Error != null)
			{
				@Model.Error
			}
		</span>
		<div class="m-3">
			<input class="btn btn-primary" type="submit" value="Login" />
		</div>
		<div class="m-3">
			<span class="text-danger" asp-validation-for="Username"></span>			
		</div>
		<div class="m-3">
			<span class="text-danger" asp-validation-for="Password"></span>			
		</div>
	</form>
</div>
