@page
@model TicketHive.Server.Areas.Identity.Pages.Account.RegisterModel
@{
}


<div class="card border-dark text-center">
	<h2>Register new user</h2>
	<form method="post">
		
		<div class="m-3">
			<label for="input-username">Username: </label>
			<input id="input-username" asp-for="Username" type="text" placeholder="Username" />
			<span asp-validation-for="Username"></span>
		</div>
		<div class ="m-3">
			<label for="input-password">Password: </label>
			<input id="input-password" asp-for="Password" type="password" placeholder="Password" />
			<span asp-validation-for="Password"></span>
		</div>
		<div class="m-3">
			<label for="input-verify">Verify: </label>
			<input id="input-verify" asp-for="PasswordVerify" type="password" placeholder="Verify" />
			<span asp-validation-for="PasswordVerify"></span>
		</div>

		<div class="m-3">
		<label for="select-country">Country: </label>
			<select id="select-country" asp-for="Country">
				<option value="Sweden">Sweden</option>
				<option value="Germany">Germany</option>
				<option value="Great Britain">Great Britain</option>
				<span asp-validation-for="Country"></span>
			</select>
		</div>

		<div class="m-3">
			<input class="btn btn-primary" type="submit" value="Register" />
		</div>
		<div class="m-3">
		</div>
	</form>
</div>
