@page
@model TicketHive.Server.Areas.Identity.Pages.Account.RegisterModel
@{
}

<body style="background-color:#E0F2FF;">
<div class="card border-dark text-center">
		<h2 class=" text-center align-items-center" style="background: #305076; color:#fbe89c; height: 50px;">Register new user</h2>
	<form method="post" style="margin-top: 35px;">		
		<div class="m-3">
			<label for="input-username">Username: </label>
			<input id="input-username" asp-for="Username" type="text" placeholder="Username" />			
		</div>		
		<div class ="m-3">
			<label for="input-password">Password: </label>
			<input id="input-password" asp-for="Password" type="password" placeholder="Password" />			
		</div>		
		<div class="m-3">
			<label for="input-verify">Verify: </label>
			<input id="input-verify" asp-for="PasswordVerify" type="password" placeholder="Verify" />			
		</div>		
		<div class="m-3">
		<label for="select-country">Country: </label>
			<select id="select-country" asp-for="Country">
				@foreach(var type in Model.Countries)
				{
					<option value="@type.ToString()">@type.ToString()</option>
				}				
			</select>			
		</div>
		<div class="m-3">
			<input class="btn btn-primary" style=" background-color: #305076!important; color: #fbe89c!important; margin-top: 35px; "type="submit" value="Register" />
		</div>
		<div class="m-3">
		</div>
		
		<span class="text-danger" asp-validation-for="Username"></span><br />
		<span class="text-danger" asp-validation-for="Password"></span><br />
		<span class="text-danger" asp-validation-for="PasswordVerify"></span><br />
		<span class="text-danger" asp-validation-for="Country"></span><br />
		<span class="text-danger">
			@if (Model.Errors != null)
			{
				@foreach (var e in Model.Errors)
				{
					<p>@e</p>
				}
			}
		</span>
	</form>
</div>
</body>
