@page "/confirmation"
@inject IAppService services
@attribute [Authorize]

<h3>Confirmation Page</h3>
<em>This page will display a summary/receipt when shopping cart has been checked out</em>


@code {

}
