@page "/eventDetails/{id:int}"
@using Microsoft.AspNetCore.Authorization;
@using TicketHive.Client.Services;
@using TicketHive.Shared.Models;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IAppService service;
@inject NavigationManager navigation
@inject AuthenticationStateProvider authStateProvider;
@attribute [Authorize]
@inject ILocalStorageService localStorage

@if (_Event == null)
{
	<p>Loading event...</p>
}
else
{
	<div class="text-center">
		<h3>Event Details for @_Event.Name</h3>
		<img src="@_Event.ImageUrl" style="max-width:400px;" />
		<p>Price: @_Event.Price</p>
		<p>Venue: @_Event.Venue</p>

		<label for="ticket-input">Tickets </label>
		<input 
			class="m-3" 
			id="ticket-input" 
			type="number" 
			min="0" 
			max="10"
			value="0"/>
		<input 
			class="btn btn-primary" 
			type="submit" 
			value="Add to cart" 
			@onclick=AddToShoppingCart/>
	</div>
}



@code {
	[Parameter]
	public int id { get; set; }
	public int Quantity { get; set; }
	public EventModel? _Event { get; set; }

	protected override async Task OnParametersSetAsync()
	{
		_Event = await service.GetEventByIdAsync(id);		
	}

	private void AddToShoppingCart()
	{
	}
}
