@page "/"

<PageTitle>Index</PageTitle>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Ticket Hive</h3>
        
        <p class="card-text">
            Welcome to Ticket Hive. 
            The best site to find tickets 
            to your favourte events.
        </p>
    </div>
</div>

@code{ 
}