@page "/"
@inject IAppService service;
@inject AuthenticationStateProvider authStateProvider;

<PageTitle>Index</PageTitle>


<div class="card">
    <div class="card-body">
        <h3 class="card-title">Ticket Hive</h3>
        
        <p class="card-text">Welcome to Ticket Hive. The best site to find tickets to your favourte events.</p>

    </div>
</div>

@code{
    private List<EventModel>? Events;
    public List<string> Claims { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity!.IsAuthenticated)
        {
            Events = await service.GetEventsAsync();
        }
    }
}