@page "/"

<div class="row justify-content-center g-0 mt-5">
    <div class="card  col-6" style="border: 1px solid #305076;">
        <div class="card-header text-center" style="background-color: #fbe89c; border-bottom: 0.5px solid #305076;  ">
            <h2 style="display: inline-block;">
                Welcome to Ticket Hive
            </h2>
            <img src="images/logos/black only logo.png" style="max-width: 80px; display: inline-block;" alt="">
        </div>
        <div class="card-body text-center">
            <p style="margin: 50px 10px 50px 10px">
                The best place in the world to get awesome tickets
                to your favorite artists end events! 
                Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Accusantium qui possimus
                quod quas laborum natus quia beatae, placeat
                sunt alias, molestiae aliquam eum atque.
                Assumenda tenetur aliquam dignissimos beatae
                mollitia libero. Vero a necessitatibus tenetur
                sapiente rerum odio, harum aliquid vel.
                Have a great day shopping!
            </p>
        </div>
    </div>
</div>


@code{

}