@page "/"

<div class="row justify-content-center g-0 mt-5">
    <div class="card border-dark col-6">
        <div class="card-header text-center">
            <h2 style="display: inline-block;">
                Welcome to Ticket Hive
            </h2>
            <img src="images/logos/black only logo.png" style="max-width: 80px; display: inline-block;" alt="">
        </div>
        <div class="card-body text-center">
            <p>
                The best place in the world to get awesome tickets
                to your absolute favorite artists end events in
                the whole wide world! If you don´t get the tickets
                I´m totally buying them for myself, you should
                only know! I swear to god you better believe me.
                Try me, this is actually your final warning.
                Go buy everything. Have a great day shopping!
            </p>
        </div>
    </div>
</div>


@code{
}