@page "/shopping-cart"
@inject IAppService service
@attribute [Authorize]

<h1>Shopping Cart</h1>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @if(eventsList != null)
                    {
                        @foreach(var e in eventsList)
                        {
                            <tr>
                                <td>@e.Name</td>
                                <td>@e.Price.ToString()</td>

                                <td><input type="number" min="1" value="1" /></td>
                                <td>@e.Capacity</td>

                                <td><input type="number" min="0" value="0"/></td>
                                <td>@(e.Price * e.Capacity)</td>

                                <td><button class="btn btn-danger">Remove</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order Summary</h5>
                    <hr />
                    <p>Subtotal: </p>
                    <hr />
                    <h4>Total:</h4>
                    <button class="btn btn-success btn-lg btn-block">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    private List<EventModel>? eventsList;




    protected override async Task OnInitializedAsync()
    {
        await GetEvents();


   }
    private async Task GetEvents()
    {
        eventsList = await service.GetEventsAsync();
    }

}