@page "/shopping-cart"
@using TicketHive.Client.Services;
@using TicketHive.Shared.Models;
@inject IAppService service



<h1>Shopping Cart</h1>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="number" min="1" value="1" /></td>
                        <td></td>
                        <td><button class="btn btn-danger">Remove</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="number" min="1" value="1" /></td>
                        <td></td>
                        <td><button class="btn btn-danger">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order Summary</h5>
                    <hr />
                    <p>Subtotal: </p>
                    @*<p>Tax: $2.40</p>*@
                    <hr />
                    <h4>Total:</h4>
                    <button class="btn btn-success btn-lg btn-block">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    private List<EventModel> eventsList = new();

    protected async Task OnInitialized()
    {
       
    }
}