@page "/"
@using TicketHive.Client.Services;
@using TicketHive.Shared.Models;
@inject IAppService service;

<PageTitle>Welcome</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<h1>Hej världen</h1>
<p>TicketHive</p>

@if (Events != null)
{
    @foreach(var eventModel in Events)
    {
        <h1>@eventModel.Name</h1>
@*        <picture>
            <source srcSet="@eventModel.ImageUrl" type="image/avif" />
            <img decoding="async" loading="lazy"/>
        </picture>*@
        <img src="@eventModel.ImageUrl" />
    }
}

@code{
    private List<EventModel>? Events;

    protected override async Task OnInitializedAsync()
    {
        Events = await service.GetEventsAsync();
    }
}